ul{

   list-style-type: none;  /* Elimina los botones de las litas*/
   background-color: #0367A6;/*Configgura el background global no seguroo*/
   overflow: hidden;/*Muestra la lista de manera independiente salto de linea algo asi*/
   margin:0;
   padding: 0;
}

li{

float:left;/*Le dice uqe la lista siga hacia la izquierda*/


}
body{
  margin: 0px;
}

li a{
display: block;
color:white;
text-align: center;
padding: 20px;/*Tambien cambia el enfoque del bacgrounnd*/
text-decoration: none;

}

li a:hover{/*Cuando el curso pasa ensombrece con el color designado*/
    background-color: #084A59;
}


.header_waeter{
    display:flex;/*pone el horizontal los div*/
    justify-content: space-around;/*Centra los div absolutos y no absulutos*/
    background-color:#084A59;
    height: 50 px;
}


.header_buscar {/*Declara un class*/
    position: absolute;
    padding-right: 200px;
    left: 23%;
    margin-top:10px;
  }

  .header_sesion{
    margin-left: 220px;
    
  }
#zorrito{
  margin:0px;
  text-align: center;
  
}
.header_picture{
  
    margin-right: 130px;
}

.header_buscar input {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    text-align: left;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.8s ease;
    margin-top:8px;

  }
  
.btn {
    position: absolute;
    top: 0;
    left: -10px;
    background:#049DBF;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-top:8px;
  }
  
.header_buscar:hover input {
    width: 240px;
  }
  
.header_buscar input:focus {
    width: 240px;
  }
  