

ul{

   list-style-type: none;  /* Elimina los botones de las litas*/
   background-color: #0367A6;/*Configgura el background global no seguroo*/
   overflow: hidden;/*Muestra la lista de manera independiente salto de linea algo asi*/
   margin:0;
   padding: 0;
}

li{

float:left;/*Le dice uqe la lista siga hacia la izquierda*/

}
body{
  margin: 0px;
 
}

h5{
  margin: 0px;
  position: relative; 
  top: -35px; left: 60px;
}
li a{
display: block;
color:white;
text-align: center;
padding: 20px;/*Tambien cambia el enfoque del bacgrounnd*/
text-decoration: none;

}

li a:hover{/*Cuando el curso pasa ensombrece con el color designado*/
    background-color: #084A59;
}

.header_waeter{
    display:flex;/*pone el horizontal los div*/
    justify-content: space-around;/*Centra los div absolutos y no absulutos*/
    background-color:#084A59;
    height: 50 px;
}

.header_buscar {/*Declara un class*/
    position: absolute;
    padding-right: 200px;
    left: 23%;
    margin-top:10px;
  }

  .header_sesion{
    margin-left: 210px;
    margin-top: 14px;
  }
#zorrito{
  margin:0px;
  text-align: center;
  
}
.header_picture{
  
    margin-right: 130px;
}

.header_buscar input {
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    text-align: left;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.8s ease;
    margin-top:8px;

  }
  
.btn {
    position: absolute;
    top: -5px;
    left: -13px;
    background:#049DBF;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-top:8px;
  }
  
.header_buscar:hover input {
    width: 240px;
  }
  
.header_buscar input:focus {
    width: 240px;
  }

/*Esto para el inicio de sesion*/
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
  width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_sesion input:checked{
  background-color: #084A59;
}
.contenido input:checked{
  background-color: #FB6C45;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;

} 
.contenedor{
	width: 400px;
	height: 300px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
  
} 
.contenedor header{
	padding: 10px;
	background: #049DBF;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}

.contenido{
	width: 100%;
	padding: 10px; 
  
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}

#btn-modal{
  display:none;
}
.lbl-modal{
	color: white;
	padding: 0px;
	border-radius: 4px;
	cursor: pointer;

}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}
.Boton_2 label{
  color: black;
	padding: 0px;
	border-radius: 4px;
	cursor: pointer;
  top:290px;
  right:200px;

}
.contenido .Elemento input{
  width: 85%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 30px;
  margin-top: 8px;
  margin-left: 15px;
}

.contenido .Boton input[type="submit"]{
background-color: #FB6C45;
width: 85%;
padding: 10px 0px;
border: none;
margin-bottom: 5px;
margin-top: 8px;
margin-left: 15px;
color:#fff;
cursor:pointer;
}
.logear{
  position: absolute;
  width: 30px;
  height: 40px;
}
/* Estilos boton LOGIN*/
.btn-login{
  width: 90%;
  padding: 10px;
  background-color:#FB6C45;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
}
.btn-login:hover,.btn-login:active{
  color:#FB6C45;
  background-color:#FB6C45;
  border-color:#FB6C45
}
.btn-login:focus{
  box-shadow:0 0 0 3px rgba(121,82,179,0.25)
}
/* Estilos de link para realizar el LOGOUT*/
.a-logout:link, .a-logout:visited {
  background-color: white;
  color: black;
  border: 2px solid #F87171;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a-logout:hover, .a-logout:active {
  background-color: #F87171;
  color: white;
}
/* Estilos de link para realizar el LOGOUT*/

/* Estilos boton REGISTER*/
.btn-register{
  width: 89%;
  padding: 12px;
  background-color: #FB6C45;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 8px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}


  
/*Esto para el inicio de sesion*/

/*Esto para el registro de sesion*/
.modal_2{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
  width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor_register{
	width: 420px;
	height: 580px;
  top: -20px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
  
}

.contenedor input:checked{
  background-color: #FB6C45;
  
}
.Boton_2 {
  height: 48px;
}
#btn-modal_2:checked ~ .modal_2{
	opacity: 1;
	visibility: visible;

} 

#btn-modal_2{
  display:none;
}


#btn-modal_2:checked ~ .contenedor_modal_2{
  opacity: 1;
	visibility: visible;
  
}
.contenedor_register header{
	padding: 10px;
	background: #049DBF;
	color: #fff;
}
.lbl-contenedor_register{
  color: white;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
  position: absolute;
}
.contenedor_register label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}



.contenido_register{
	width: 100%;
	padding: 10px; 
  
}
.contenido_register h3{
	margin-bottom: 10px;
}
.contenido_register p{
	margin-bottom: 7px;
}
.contenido_register .Elemento{
  height: 70px;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor_register{
		width: 95%;
	}
}

.contenido_register .Elemento input{
  width: 85%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 30px;
  margin-top: 8px;
  margin-left: 15px;
}

.contenido_register .Boton input[type="submit"]{
background-color: #FB6C45;
width: 85%;
padding: 10px 0px;
border: none;
margin-bottom: 5px;
margin-top: 8px;
margin-left: 15px;
color:#fff;
cursor:pointer;
}


/*Esto para el registro de sesion*/


/*Pie de Página*/

.Pie_página{
  background-color: #084A59;
  
  bottom: 0;  
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.span{
  font-size: 23px;
}
.fb{
  background-color: blue;
  padding: 0;
  border-radius: 30px;
  color: white;
}
.in{
  background-color: rgb(255, 0, 136);
  border-radius: 30px;
  padding: 0;  
  color: white;
}
.logotipo{
  font-size: 18px;
  color: white;
}
.Redes-sociales span{ 
  display: inline-flex;
  justify-content: space-evenly;
  padding: 5px;
}
.Pie_página .grupo-1{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  grid-gap: 50px;
  align-items: initial;
}
a{
  color: white;
  text-decoration: none;
  
}
.Ayuda a{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}
.Contactos a{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}
.Información a{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}
.grupo-2{
  color: white;
  display: flex;
  justify-content: space-between;
  background: #0367A6;
  padding: 10px;
}



/*Esto es para los botones y productos para adicionar al carrito*/

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.product-container {
  margin: 15px;
  padding: 2px 16px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  background-color: white;
}

.product-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img {
  width: 150px;
}

.product-container h1 {
  margin-bottom: 10px;
  margin-left: 15px;
}

.button-add {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  transition-duration: 0.4s;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.button-add:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}